<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="buyTicket.css">
</head>
<body>
    <header>
        <div class="containerHeaderLeft">
        <h2>CIRCUS </h2>
        <h2>TICKETS</h2>
        </div>
        <div class="containerHeaderRight">
            <nav>
                <ul>
                    <a href="">HOME</a>
                    <a href="">SHOWS</a>
                    <a href="">TICKETS</a>
                    <a href="">ABOUT</a>
                </ul>
                <button class="buttonHeader">BUY TICKETS</button>
            </nav>
        </div>
    </header>
    <div class="centralContainer">
        <h3>WELCOME</h3>
        <h3>TO THE CIRCUS</h3>

        <p class="pContainerCentral">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias corporis, optio quisquam fuga sed animi veniam quia quo voluptates. Iure, fugiat reprehenderit rem iste numquam voluptates? Voluptate, ut quas? Officia!</p>
        <button class="buttonContainerCentral">LEARN MORE</button>
    </div>
    <div class="containerFunciones">
        <div class="rowContainerFunciones">
            <img src="/src/main/resources/imagenes/boleto.png" alt="Imagen Ticket">
            <h3>BUY TICKETS</h3>
            <p class="pFunciones">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora eum corporis, architecto fugiat deleniti, minus voluptatibus debitis quam, animi explicabo rerum hic. Facilis sapiente voluptas animi iusto, cupiditate aspernatur dolorem!</p>
        </div>
        <div class="rowContainerFunciones">
            <img src="/src/main/resources/imagenes/carpa-de-carnaval.png" alt="">
            <h3>VIEW SHOWS</h3>
            <p class="pFunciones">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni, architecto. Aliquid tempore, magnam ratione ipsa minima aut velit amet. Sint alias possimus delectus fuga eos, omnis eum saepe dolorum aliquid?</p>
        </div>
        <div class="rowContainerFunciones">
            <img src="/src/main/resources/imagenes/usuario.png" alt="">
            <h3>LOG IN</h3>
            <p class="pFunciones">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, illum! Nisi architecto asperiores maxime non obcaecati tempora, incidunt impedit explicabo doloremque animi hic! Quibusdam voluptatem, dignissimos molestias aut sapiente perspiciatis?</p>
        </div>
    </div>
    <footer>
        <h2 class="h2Footer">ABOUT US</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro exercitationem dolorem excepturi id optio illum, hic sed a atque quidem fuga, debitis quia! Provident officia vero vitae sequi magni culpa!</p>
    </footer>
</body>
</html>