<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MagicTicket</title>
    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--CSS Style-->
    <link rel="stylesheet" href="assets/css/stylePrincipal.css">
</head>
<body>
<header>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-scroll" data-mdb-navbar-init>
        <div class="container-fluid">
            <a class="navbar-brand" href="indexPrincipal.html"><img src="assets/img/CircusLogo.png" height="110" width="100" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <i class="bi bi-ticket-perforated"></i>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="indexPrincipal.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="about.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="legal.html">Legal Aspects</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--BANNER-->
    <section class="banner">
        <div class="banner-text">
            <h1>Welcome to Magic Ticket!</h1>
            <h3>The perfect place to buy or manage circus shows.</h3>
            <a href="logIn.html" class="banner-button">Let´s Start</a>
        </div>
    </section>
</header>

<main>
    <!--INTRODUCTION-->
    <section class="py-5" id="intro">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="animate-on-scroll ">What are you waiting for? <br> Roll up, roll up!</h2>
                <p class="animate-on-scroll "><br>
                    🎪 With <strong>MagicTicket</strong>, booking your next big top adventure is just a tap away. Browse upcoming circus shows, reserve the best seats, and get instant digital tickets – no lions, tigers, or long lines required.
                    <br><br>
                    Whether you're after thrills, laughs, or jaw-dropping acrobatics, the circus is always in town with MagicTicket!
                </p>
            </div>
            <div class="animate-on-scroll col-12 col-md-6">
                <video src="assets/video/acrobaciaAerea.mp4" autoplay loop muted playsinline  poster="assets/img/abrobaciaRespaldo.jpg">Your browser does not support the video tag.</video>
            </div>
        </div>
    </section>

    <!--FEATURES-->
    <section class="py-5" id="features">
        <div class="row text-center">
            <h2 class="animate-on-scroll" style="text-align: center;">You don't know what to do here?</h2>
            <h4 class="animate-on-scroll" style="text-align: center; font-size: 25px; font-weight: bold; color: #F8F1FF;">Don't worry, we explain you down here:</h4>
            <div class="col-sm-12 col-md-6">
                <h3 class="animate-on-scroll py-5">If you're Manager, you can...</h3>
                <div class="row py-2">
                    <div class="col-12 col-md-6">
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-person-circle"></i>
                            <h4>Log in</h4>
                            <p>You can safely log in and keep a track of your shows.</p>
                        </div>
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-pencil-square"></i>
                            <h4>Edit Shows</h4>
                            <p>Because unexpected events can ocurr, you can always comeback to edit the show's information</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-file-earmark-plus-fill"></i>
                            <h4>Register Shows</h4>
                            <p>You can easely create new shows with our intuitive interface.</p>
                        </div>
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-trash-fill"></i>
                            <h4>Delete Shows</h4>
                            <p>We know that some problems could happen, that's why you can delete an specific show</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3 class="animate-on-scroll py-5">If you're a User, you can...</h3>
                <div class="row py-2">
                    <div class="col-12 col-md-6">
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-person-circle"></i>
                            <h4>Log in</h4>
                            <p>You can safely log in and keep a track of all your purchases.</p>
                        </div>
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-person-add"></i>
                            <h4>Register</h4>
                            <p>If you've never used MagicTicket before, you can easely create you account.</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-eye-fill"></i>
                            <h4>See Shows</h4>
                            <p>You can see the information of the newest shows in real time.</p>
                        </div>
                        <div class="animate-on-scroll caja">
                            <i class="bi bi-ticket-detailed-fill"></i>
                            <h4>Buy Tickets</h4>
                            <p>If you liked a show, you can reserved your place in it by buying a ticket.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--USER'S OPINIONS-->
    <section class="py-5" id="opinion">
        <div class="row">
            <h2 class="animate-on-scroll" style="color: #F8F1FF;">Are you not sure yet? <br>Fine, let's read other users experiences</h2>
            <div class="col-12 col-md-6 py-5">
                <div class="animate-on-scroll" id="ratingCard">
                    <span class="heading" style="color: #1B1B3A;"><strong>User Rating</strong></span>
                    <span class="bi bi-star-fill"></i></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star-fill"></span>
                    <span class="bi bi-star"></span>
                    <p>4.1 average based on 254 reviews.</p>
                    <hr style="border:3px solid #f1f1f1">

                    <div class="row">
                        <div class="side">
                            <div>5 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-5"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>150</div>
                        </div>
                        <div class="side">
                            <div>4 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-4"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>63</div>
                        </div>
                        <div class="side">
                            <div>3 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-3"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>20</div>
                        </div>
                        <div class="side">
                            <div>2 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-2"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>15</div>
                        </div>
                        <div class="side">
                            <div>1 star</div>
                        </div>
                        <div class="middle">
                            <div class="bar-container">
                                <div class="bar-1"></div>
                            </div>
                        </div>
                        <div class="side right">
                            <div>6</div>
                        </div>
                    </div>
                </div>
                <div class="animate-on-scroll testimony">
                    <img src="assets/img/userCuatro.jpg" alt="Avatar">
                    <p><span >Andrés Salazar</span> History Teacher</p>
                    <p>I don’t usually buy tickets online, but this website made it so easy. It was fast, clear, and hassle-free. I’ll definitely come back for the next circus performance.</p>
                </div>
            </div>
            <!--Testimonials-->
            <div class="col-12 col-md-6">
                <div class="animate-on-scroll testimony">
                    <img src="assets/img/userUno.jpg" alt="Avatar">
                    <p><span >Laura Méndez</span> Graphic Designer</p>
                    <p>I loved how intuitive the platform is. Within minutes, I found a nearby show and bought my ticket. Plus, the design is very visual, which caught my eye right away.</p>
                </div>
                <div class="animate-on-scroll testimony">
                    <img src="assets/img/userDos.jpg" alt="Avatar">
                    <p><span >Daniel Rojas</span> Freelance Photographer</p>
                    <p>One of the best online experiences I’ve had. I was able to view shows near me, choose my seats, and pay without wasting any time. Excellent job!</p>
                </div>
                <div class="animate-on-scroll testimony">
                    <img src="assets/img/userTres.jpg" alt="Avatar">
                    <p><span >Valeria Castro</span> Frontend Developer</p>
                    <p>I really enjoyed the mobile experience. Navigation was smooth, the colors are super vibrant, and everything is well-organized. You can tell a lot of care went into the design.</p>
                </div>
            </div>
        </div>
    </section>

</main>

<!--FOOTER-->
<footer>
    <div class="footer-content row">
        <h1 class="animate-on-scroll">Thanks for coming this far!</h1>
        <div class="redes-sociales col">
            <div class="row animate-on-scroll" id="social">
                <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Be updated on the latest shows:</h2>
                <a href="https://facebook.com/MagicTicket" target="_blank"><i class="bi bi-facebook"> MagicTicket</i></a>
                <a href="https://twitter.com/MagicTicket" target="_blank"><i class="bi bi-twitter-x"> MagicTicket</i></a>
                <a href="https://instagram.com/Magic_Ticket_CR" target="_blank"><i class="bi bi-instagram"> Magic_Ticket_CR</i></a>
                <a href="https://instagram.com/Magic-Ticket" target="_blank"><i class="bi bi-tiktok"> Magic-Ticket</i></a>
            </div>
        </div>
        <div class="col animate-on-scroll">
            <div class="redes-sociales row" id="touch">
                <h2 style="font-family: Arial, Helvetica, sans-serif; font-weight: bold;">Want to get in touch?</h2>
                <a href="mailto:magicticket@gmail.com"><i class="bi bi-envelope-at-fill"> magicticket@gmail.com</i></a>
                <a href="https://www.google.com/maps/place/Universidad+de+Costa+Rica+(Sede+del+Pac%C3%ADfico)/@9.9815584,-84.8106767,17z/data=!4m7!3m6!1s0x8fa02e597100a0f1:0x617ab3a3e72c0d8f!8m2!3d9.9815584!4d-84.8106767!10e1!16s%2Fg%2F1td3mnjl?entry=ttu&g_ep=EgoyMDI1MDYzMC4wIKXMDSoASAFQAw%3D%3D"><i class="bi bi-geo-alt-fill"> Made By UCR Students. X5JQ+JPG, Av. 1, Provincia de Puntarenas, Puntarenas, Barrio El Cocal</i></a>
                <a href="https://github.com/Milagrosxp/CircusWebAplication"><i class="bi bi-github"> ///Milagrosxp</i></a>
            </div>
        </div>
        <div class="col animate-on-scroll" id="imgLogo">
            <div class="row">
                <img src="assets/img/CircusLogo.png" alt="Logo">
            </div>
        </div>
        <p>&copy; 2025 MagicTicket. All Rights Reserved.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>