.form-button {
    background-color: #2f615e;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #246055;
}

div {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.5px;
}