<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="styleUserRegister.css">
</head>
<body>
    <div class="containerFormulario">
        <form id="registerForm">
            <h2 class="tituloFormulario">Register</h2>
            <label for="id">ID</label>
            <input type="number" id="id" required>
            <label for="name">Name:</label>
            <input type="text" id="name"  required>
            <label for="telephone">Telephone:</label>
            <input type="text" id="telephone" required>
            <label for="password">Password</label>
            <input type="password" id="password" required>
            <a href="logIn.html">Log In</a>
            <button type="submit">Register</button>
        </form>
    </div>

    <script>
        // este método se ejecuta al enviar el formulario
        document.getElementById("registerForm").addEventListener("submit", function(e) {
            e.preventDefault();  // evita que recargue la página

            const idUser = document.getElementById("id").value;
            const name = document.getElementById("name").value;
            const telephone = document.getElementById("telephone").value;
            const password = document.getElementById("password").value;

            fetch("http://localhost:8080/api/users", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    idUser: idUser,
                    name: name,
                    telephone: telephone,
                    password: password
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Error en el registro");
                }
                return response.json();
            })
            .then(data => {
                alert("Usuario registrado con éxito: " + JSON.stringify(data));
            })
            .catch(error => {
                console.error("Hubo un problema con el registro:", error);
                alert("Error en el registro");
            });
        });
    </script>
</body>
</html>